.produtos__secao{
    padding: 0 10rem;
}

.produtos{
    padding-top: 4rem;
}


.secao__titulo{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 1rem;

}

.secao__nome{
    font-size: 2rem;
}

.secao__ver-tudo{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #2A7AE4;
}

.icone{
    margin-left: 0.8rem;
    width: 1rem;
}

.produtos__exibidos{
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}


.produto__imagem{
    width: 9.7rem;

}

.produto__titulo{
    color: #464646;
    font-weight: 500;
    margin-top: 0.5rem;

}

.produto__valor{
    font-weight: 700;
    color: #464646;
    margin: 0.5rem 0;
}

.produto__link{
    color: #2A7AE4;
    font-weight: 700;
}