*{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.conteudo__principal{
    margin-bottom: 3rem;
}

.banner{
    position: relative;
    color: white;
}

.banner__imagem{
    min-width: 100vw;
}

.banner__texto{
    position: absolute;
    left: 9.5rem;
    bottom: 2rem;
    
}

.banner__titulo{
    font-weight: 700;
    font-size: 3.25rem;
}

.banner__paragrafo{
    font-weight: 700;
    margin: 1rem 0;
}


